tensorflow-cpu==2.15.0
fastapi
uvicorn
numpy
opencv-python-headless
gunicorn
numpy
Pillow
azure-storage-blob
aiohttp==3.9.5
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability